<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BennaGo"
        android:supportsRtl="true"
        tools:targetApi="31">
        <service
            android:name=".BennaGoFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- ✅ LAUNCHER = SplashActivity (premier écran affiché) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Page Catalogue (Users) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Dashboard (Admin) -->
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ManageMenuActivity"/>
        <activity android:name=".AddEditDishActivity"/>
        <activity android:name=".StatsActivity"/>
        <activity android:name=".CartActivity"/>
        <activity android:name=".CheckoutActivity"/>
        <activity android:name=".ManageOrdersActivity"/>
        <activity android:name=".ManageUsersActivity"/>
        <activity android:name=".PaymentActivity"/>
        <activity android:name=".MyOrdersActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".ReviewsActivity"/>
        <activity android:name=".AdminReviewsActivity"/>



    </application>

</manifest>
